

.anime-app {
    text-align: center;
    color: white;
    background-color: black;
}

.animeh1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.8rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 1.8rem;
    text-align: left;
}

.card-poster {
    max-width: 100%;
    height: auto;
}

.card-title {
    border-radius: 10px;
    font-size: 1.2rem;
 }


.card-rating {
    color: cornflowerblue;
} 


.header-img {
    margin: 0 auto;
    max-width: 100%;
}









@media screen and (max-width:587px) {
    text-align : center;
}